.btn:link,
.btn:visited{
    text-decoration:uppercase;
    text-decoration:none;
    padding:15px 20px;
    display:inline-block;
    border-radius:100px;
    transition:all .2s;
    position: relative;

    cursor: pointer;
    border:none;



}
.btn:hover,
.btn:focus{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.2)
}
.btn:hover{
    transform:translateY(-1px);
}
.btn-white{
    background-color:$white;
    color:$grey;
    animation: moveInBottom 5s ease-out .75s;
    animation-fill-mode: backwards;


}
.btn-white::after{
    background-color:$white;
}
.btn-blue{
    background-color:$meduim-blue;
    color:$white;
    animation: moveInBottom 5s ease-out .75s;
    animation-fill-mode: backwards;


}

.btn-blue::after{
    background-color:$meduim-blue;
}
.btn::after{
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    border-radius:100px;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    transition:all .4s;
}

.btn:hover::after{
    transform:scaleX(1.5) scaleY(1.6);
    opacity:0;
}
.btn-text{
    &:link,
    &:visited{
        font-size:$default-font-size;
        color:$meduim-blue;
        display:inline-block;
        text-decoration:none;
        border-bottom:1px solid $meduim-blue;
        padding:3px;
        transition:all .2s;
    }
    &:hover{
        background-color: $meduim-blue;
        color:$white;
        box-shadow: 0 1rem 2rem rgba($black,.15);
        transform:translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($black,.15);
        transform:translateY(0);
    }
}
